/*body {*/
/*  background-image: none;*/
/*  background-color: #ECFDF5;*/
/*  font-family: 'Poppins', sans-serif;*/
/*  font-style: normal;*/
/*  font-weight: 300;*/
/*  font-size: 30px;*/
/*  line-height: 45px;*/
/*}*/

input ,textarea{
  padding: 8px 20px;
  border-radius: 10px;
  /*border-color: none;*/
}

.outt{
  margin: 40px;
  margin-left: 440px;
}

.button2 {
  border-radius: 10px;
  background-color: #0070f3;
  height: 40px;
  width: 150px;
}

.button2:hover {
  background-color: aliceblue;
}

.inp-row input, textarea, select {
  display: inline-block;
  border-color: #0891B2;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.inp-row, select {
  margin: 2em 0.5em;
}

#submit-btn {
  margin-left: 10px;
  margin-bottom: 100px;
}

label, textarea{
  display: inline-block;
  margin-bottom: 10px;
  width: 20%;
}

.radiobuttons {
  width: 6%;
}

.logo_name4{
  width: 100px;
  margin-left: 8px;
  font-family: 'Notable', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 32px;
  text-align: right;
}


.lists {
  height: 40px;
  width: 510px;
  background-color: #fafafa;
  text-align: center;
  margin-top: 5px;
  /*text-align: -moz-center;*/
  /*text-align-all: center;*/
  border-radius: 5px;
}

.lists:hover {
  background-color: aliceblue;
}

.container7{
  margin-left: 440px;
}